<app-header />
<main>
  <section>
    <ul id="users">
      @for (user of users; track user.id) {
        <li>
          <app-user [user]="user" (selectUser)="onSelectUser($event)" />
        </li>
      }
    </ul>
    <div>
      @if (selectedUser) {
        <app-tasks [name]="selectedUser.name" />
      } @else {
        <p>
          Please select a user to see their tasks.
        </p>
      }
    </div>
  </section>
  <section>
    <ul id="users">
      @for (user of users; track user.id) {
        <li>
          <app-user-signals
            [id]="user.id"
            [avatar]="user.avatar"
            [name]="user.name"
            (selectUser)="onSelectUser($event)"/>
        </li>
      }
    </ul>
    <div>
      Using Signals
      @if(selectedUser) {
        <app-tasks-signals [name]="selectedUser.name" />
      } @else {
        <p>
          Please select a user to see their tasks.
        </p>
      }
    </div>
  </section>
</main>
